# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Cyber_Security\Cyber-Security-Task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
